<h1><%= t('profile') %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group" style="width: 30%;">
    <%= f.label t('Name') %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group" style="width: 30%;">
    <%= f.label t('Email') %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('Currently_waiting_confirmation_for') %> <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group" style="width: 50%;">
    <%= f.label t('Password') %> <i style="font-size: 80%;"><%= f.label t('new_password_comment') %></i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="form-group" style="width: 50%;">
    <%= f.label t('Password_confirmation') %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="form-group" style="width: 50%;">
    <%= f.label t('current_password') %> <i style="font-size: 80%;"><%= f.label t('current_password_comment') %></i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit t('register') %>
  </div>
<% end %>

<h3><%= t('Cancel_my_account') %></h3>

<p><%= t('Unhappy') %><%= button_to t('Cancel_my_account'), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to t('back'), :back %>
