<h1><%= t('register') %> </h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group" style="width: 20%;">
    <%= f.label t('Name') %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  
  <div class="form-group"  style="width: 20%;">
    <%= f.label t('Email') %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group"  style="width: 20%;">
    <%= f.label t('Password') %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
   <span class="help-block"><%= @minimum_password_length %> <%= t('characters_minimum') %></span>    
  </div>

  <div class="form-group"  style="width: 20%;">
    <%= f.label t('Password_confirmation') %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

  <%= f.submit t('register'), class: 'btn btn-secondary' %>
<% end %>

<%= render "devise/shared/links" %>
