<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table id="usr" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Company</th>
      <th>Lg</th>
      <th>Plan</th>
      <th>Inv. nb</th>
      <th>Exp y</th>
      <th>Exp m</th>      
      <th>Sign in</th>
      <th>Last log in</th>
      <th>Creat. date</th>
      <th>Conf. date</th>
      <th>show</th>
      <th>edit</th>
      <th>destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <% if !user.company_name.blank? %>
        <td><%=link_to user.company_name, controller: "invoicing_ledger_items", action: "index", param: user.id%></td>
        <% else %>
        <td> </td>
        <% end %>
        <td><%= user.language %></td>
        <td><%= user.plan_id %></td>
        <td><%= user.invoice_count %></td>
        <td><%= user.exp_year %></td>
        <td><%= user.exp_month %></td>
        <td><%= user.sign_in_count %></td>
        <td><%= user.current_sign_in_at.to_formatted_s(:short) %></td>
        <td><%= user.created_at.to_formatted_s(:short) %></td>
        <td><%= user.confirmed_at.to_formatted_s(:short) if user.confirmed_at.present? %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
<script type="text/javascript">
$(document).ready(function() {
    $('#usr').DataTable({
    retrieve: true,
    "pageLength": 10
    });
} );
</script>
