<div style="width: 76%;float: left;"><h1><%= t('charttitle') %></h1></div>
<div style="float: left; width: 9%;"><h5><%= t('compare')%></h5></div>
<div style="display: inline;"><button type="button" id="b_country" class="btn btn-primary btn-sm active" onclick="countries()">
              <%= t('countries')%>
              </button></div>
<div style="display: inline;"><button type="button" id="b_indicator" class="btn btn-primary btn-sm" onclick="indicators()">
              <%= t('indicators')%>
              </button></div>              
<div id="mainform" style="float: right; width:13%; border: thin solid black; margin-right:2%;margin-top: 8px;">
<%= form_for @selector, url: selectors_path do |f| %>
  <%= f.hidden_field :form_switch  %>
  <p id="indicator1">
    <%= f.label t('indicator1') %>
       <span class="has-tooltip" data-toggle="tooltip" data-container="body" data-placement="right" title="<%= t('indicator_help') %>"><%= image_tag "question_mark.png" %></span>
       <button type="button" class="btn btn-secondary-outline btn-sm" data-toggle="modal" data-target="#indicator_list">
          <%= image_tag "view-list.png" %>
       </button><br> 
    <%= f.hidden_field :indicator, :id => "real_indicator"%>
    <%= autocomplete_field_tag 'fake_indicator', '',
        autocomplete_indicator_id1_selectors_path, 'data-auto-focus' => true,
        id_element: "#real_indicator", value: @indicator, class: 'form-control'  %>
  </p>
  
    <% if @indicator_switch %>
       <p id="indicator2">
    <% else %>
       <p id="indicator2" hidden>
    <% end %>    
    <%= f.label t('indicator2') %>
       <span class="has-tooltip" data-toggle="tooltip" data-container="body" data-placement="right" title="<%= t('indicator_help') %>"><%= image_tag "question_mark.png" %></span>
       <button type="button" class="btn btn-secondary-outline btn-sm" data-toggle="modal" data-target="#indicator_list">
          <%= image_tag "view-list.png" %>
       </button><br> 
    <%= f.hidden_field :indicator2, :id => "real_indicator2"%>
    <%= autocomplete_field_tag 'fake_indicator2', '',
        autocomplete_indicator_id1_selectors_path, 'data-auto-focus' => true,
        id_element: "#real_indicator2", value: @indicator2, class: 'form-control'  %>
  </p>
  
  <p  id="country1">
    <%= f.label t('country1') %>
    <span class="has-tooltip" data-toggle="tooltip" data-container="body" data-placement="right" title="<%= t('country_help') %>"><%= image_tag "question_mark.png" %></span>
    <button type="button" class="btn btn-secondary-outline btn-sm" data-toggle="modal" data-target="#country_list">
    <%= image_tag "view-list.png" %>
    </button><br> 
    <%= f.hidden_field :country1, :id => "real_country1" %>
    <%= autocomplete_field_tag 'fake_country1', '',
        autocomplete_country_name_selectors_path, 'data-auto-focus' => true,
        id_element: "#real_country1", value: @country1_name, class: 'form-control'%>
  </p>
  
    <% if @indicator_switch %>
       <p id="country2" hidden>
    <% else %>
       <p id="country2">
    <% end %>
    <%= f.label t('country2') %>
    <span class="has-tooltip" data-toggle="tooltip" data-container="body" data-placement="top" title="<%= t('country_help') %>"><%= image_tag "question_mark.png" %></span>
    <button type="button" class="btn btn-secondary-outline btn-sm" data-toggle="modal" data-target="#country_list">
    <%= image_tag "view-list.png" %>
    </button><br> 
    <%= f.hidden_field :country2, :id => "real_country2" %>
    <%= autocomplete_field_tag 'fake_country2', '',
        autocomplete_country_name_selectors_path, 'data-auto-focus' => true,
        id_element: "#real_country2", value: @country2_name, class: 'form-control'%>
  </p>
 
  <p>
    <%= f.label t('year_begin') %>
    <span class="has-tooltip" data-toggle="tooltip" data-container="body" data-placement="right" title="<%= t('period_help') %>"><%= image_tag "question_mark.png" %></span><br>
    <%= f.number_field :year_begin, class: 'form-control', in: 1960..2020 %>
  </p>
  <p>
    <%= f.label t('year_end') %>
    <span class="has-tooltip" data-toggle="tooltip" data-container="body" data-placement="right" title="<%= t('period_help') %>"><%= image_tag "question_mark.png" %></span><br>
    <%= f.number_field :year_end, class: 'form-control', in: 1960..2020 %>
  </p>
  <div style="text-align: center;">
  <%= f.submit t('display')%>
  </div>
<% end %>
</div>

<div class="modal fade" id="indicator_list" tabindex="-1">
<div class="modal-dialog modal-lg" role="document">
      <div style="font-size: 11px;" class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title"><%= t('indicator_list')%></h4>
         </div>
<div class="modal-body">
<table id="ind_list" class="table" border="1">
<thead>
   <tr>
    <th width="5%">id</th>
    <th width="20%"><%= t('name') %></th>
    <th width="20%"><%= t('topic') %></th>
  </tr>
</thead>
<tbody>
<% for indicator in @indicator_base %>
  <tr>
    <td><%=h indicator.id1 %></td>
    <td><%=h indicator.name %></td>
    <td><%=h indicator.topic %></td>
  </tr>
<% end %>
</tbody>
</table>
   </div> 
   </div> 
   </div>
</div>   
   
<div class="modal fade" id="country_list" tabindex="-1">
<div class="modal-dialog" role="document">
      <div style="font-size: 11px;" class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title"><%= t('country_list')%></h4>
         </div>
<div class="modal-body">
<table id="cty_list" class="table" border="1">
<thead>
  <tr>
    <th><%= t('name') %></th>
    <th>type</th>
  </tr>
</thead> 
<tbody>
<% for country in @country_base %>
  <tr>
    <td><%=h country.name %></td>
    <td><%=h country.type %></td>
  </tr>
<% end %>
</tbody>
</table>
   </div> 
   </div> 
   </div>    
</div>

<div class="modal fade" id="about" tabindex="-1">
   <div class="modal-dialog" role="document">
      <div style="font-size: 11px;" class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title"><%= t('about')%></h4>
         </div>
   <div class="modal-body">
<h1><%= t('longtitle') %></h1>
<h2><%= t('about_comment') %></h2>
<ul>
   <li>World Bank Open Data</li>
   <li>Ruby On Rails</li>
   <li>Ruby gem: world_bank, rserve</li>
   <li>R Package</li>
</ul>
   </div> 
   </div> 
   </div>
</div>

<div class="modal fade" id="news" tabindex="-1">
   <div class="modal-dialog" role="document">
      <div style="font-size: 11px;" class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title"><%= t('news')%></h4>
         </div>
   <div class="modal-body">
<h1><%= t('longtitle') %></h1>
<h2><%= t('news_comment') %></h2>
<ul>
   <li>20/05/2016: Version 0.1</li>
   <li>27/05/2016: Version 0.2</li>   
</ul>
   </div> 
   </div> 
   </div>
</div>
<script type="text/javascript">
function indicators() {
console.log("indicator2");
$("#b_indicator").addClass("active");
$("#b_country").removeClass("active");
$('#selector_form_switch').val('indicator'); 
$('p#indicator2').show();
$('p#country2').hide();
}
function countries() {
console.log("country2");
$("#b_indicator").removeClass("active");
$("#b_country").addClass("active");
$('#selector_form_switch').val('country');
$('p#indicator2').hide();
$('p#country2').show();
}
</script>
<script type="text/javascript">
<% if I18n.locale == :en %>
$(document).ready(function() {
    console.log('en');
    $('#ind_list').DataTable({
    retrieve: true,
    "pageLength": 10
    });
    $('#cty_list').DataTable({
    retrieve: true,
    "pageLength": 10
    });
} );
<% else %>
$(document).ready(function() {
    console.log('fr');
    $('#ind_list').DataTable({
    "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
    retrieve: true,
    "pageLength": 10
    });
    $('#cty_list').DataTable({
    "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
    retrieve: true,
    "pageLength": 10
    });
} );
<% end %>
</script>
