<%= render 'form' %>
<div id="title" style="float: left;  margin-left: 0%; width:80%; ">
<h2><%= @title %></h2>
</div>
<div id="print" style="position: relative; float: left; margin-bottom: -20px;">
<% if can? :print_chart, @selector %>
<span id="print_link" onclick="displayPDF()"><%= image_tag "printer.png" %></span>
<% end %>
</div>
<div id="chart" style="float: left;  margin-left: 0%; margin-top: -26px; width: 84%; height: 380px; border: thin solid black;">
<canvas  width="850" height="350" id="line" style=" margin-left: 20px; margin-top: 23px; cursor: default;" class="animated rotateIn"></canvas>
</div>
<div id="stats" style="margin-top: 30%;">  
<td>
  <% if @indicator_switch %>
     <span style="float: left; font-weight: bold;"><%= @country1_name %></span>
  <% else%>
     <span style="float: left; font-weight: bold;"><%= @i1.name %></span>
     <span class="has-tooltip" data-toggle="tooltip" title="<%= @i1.note %>">
        <%= image_tag "question_mark.png", style: "float: left;" %>
     </span>
  <% end%>
</td>
<br>
<table id="stat_table" border="1" style="float: left; width: 90%;">
  <thead>
    <tr>
        <% if @indicator_switch %>
           <th width="20%"><%= t('indicator')%></th>
        <% else %>
	   <th width="20%"><%= t('country')%></th>
	<% end %>   
	<th width="10%"><%= t('mean')%></th>
        <th width="8%">
          <span><%= t('coeflm1')%></span>
          <span class="has-tooltip" data-toggle="tooltip" data-container="body" data-placement="top" title="<%= t('slope_help') %>">
          <%= image_tag "question_mark.png" %></span>          
        </th>
	<th width="8%">
	  <span><%= t('coeflm3')%></span>
	  <span class="has-tooltip" data-toggle="tooltip" data-container="body" data-placement="top" title="<%= t('determination_help') %>">
	  <%= image_tag "question_mark.png" %></span>           
        </th>
	<th width="8%">
	  <span><%= t('meanrate')%></span>
	  <span class="has-tooltip" data-toggle="tooltip" data-container="body" data-placement="top" title="<%= t('meanrate_help') %>"><%= image_tag "question_mark.png" %></span>
	</th>
	<th width="8%">
	  <span><%= t('correlation')%></span>
	  <span class="has-tooltip" data-toggle="tooltip" data-container="body" data-placement="top" title="<%= t('correlation_help') %>"><%= image_tag "question_mark.png" %></span>
        </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% if @indicator_switch %>
         <td>
            <span style="float: left;"><%= @i1.name %></span>
            <span class="has-tooltip" data-toggle="tooltip" title="<%= @i1.note %>">
            <%= image_tag "question_mark.png", style: "float: left;" %>
            </span>
         </td>
      <% else %>   
         <td><%= @country1_name %></td>
      <% end %>
      <td><%= number_with_delimiter(number_with_precision(@mean1.to_ruby, precision: @precision)) %></td>	
      <td><%= number_with_delimiter(number_with_precision(@coeflm1[1], precision: @precision)) %></td>
      <td><%= number_with_precision(@coeflm3_1.to_ruby, precision: 2) %></td>
      <td><%= number_to_percentage(@meanrate1, precision: 2) %></td>
      <td><%= number_with_precision(@cor.to_ruby, precision: 2) %></td>
     </tr>
     <tr>
      <% if @indicator_switch %>
         <td>
            <span style="float: left;"><%= @i2.name %></span>
            <span class="has-tooltip" data-toggle="tooltip" title="<%= @i2.note %>">
            <%= image_tag "question_mark.png", style: "float: left;" %>
            </span>
         </td>
      <% else %>   
         <td><%= @country2_name %></td>
      <% end %>
      <td><%= number_with_delimiter(number_with_precision(@mean2.to_ruby, precision: @precision)) %></td>	
      <td><%= number_with_delimiter(number_with_precision(@coeflm2[1], precision: @precision)) %></td>
      <td><%= number_with_precision(@coeflm3_2.to_ruby, precision: 2) %></td>
      <td><%= number_to_percentage(@meanrate2, precision: 2) %></td>
     </tr>
  </tbody>
</table>
</div>
<script type="text/javascript">                 // Rgraph script
  var key = [];
  var datachar = [];                            //convert data in String for the chart tooltips
  var datachar1 = [];
  var datachar2 = [];
  <% if @indicator_switch %>
     key[0] = gon.indicator;
     key[1] = gon.indicator2;
  <% else %>
     key[0] = gon.country1;
     key[1] = gon.country2;
  <% end %>
  for (var i=0; i<gon.data1.length; ++i) { 
     datachar1[i] = String(parseFloat(gon.data1[i].toFixed(2)));
     datachar2[i] = String(parseFloat(gon.data2[i].toFixed(2)));     
  }
  datachar = datachar1.concat(datachar2)
  xaxispos = gon.xaxispos;
//  alert(datachar)
var line = new RGraph.Line({
 id: 'line', 
 data: gon.data,
 options: {
   colors: ['rgb(255,0,0)', 'rgb(0,0,255)', 'rgb(0,100,0)'],
   linewidth: 3,
   key: key,
   keyInteractive: true,
   backgroundGridVlines: false,
   labels: gon.year,
   xaxispos: gon.xaxispos,
   numxticks: gon.numxticks,
   ylabels: gon.ylabels,
   scaleThousand: gon.scaleThousand,
   scalePoint: gon.scalePoint,    
   ylabelsInside: true,
   gutterLeft: 150,
   textSize: 8,
   spline: true, 
   tooltipsCoordsPage: true,
   keyPosition: 'gutter',
   tooltips: datachar
//   tooltips.event: 'onmousemove',
   }
}).draw();   
//   line.Draw();
   <% if @same_scale %>
   <% else %>
   var yaxis = new RGraph.Drawing.YAxis({
        id: 'line',
        x: line.gutterLeft,
        options: {
            max: line.scale2.max,
            <% if @xaxispos == 'center' %>
               min: - (line.scale2.max),
            <% end %>   
            title: gon.title_first_axis,
            scaleThousand: gon.scaleThousand,
            scalePoint: gon.scalePoint,
            titleColor: ['red'],
            textSize: 8,
            colors: ['red']
        }
    }).draw();
    <% end %>
<% if @same_scale %>
   <% else %>
   var yaxis = new RGraph.Drawing.YAxis({
        id: 'line',
        x: line.gutterLeft* (2/3),
        options: {
            max: line.scale2.max / gon.power_scale_change,
            <% if @xaxispos == 'center' %>
               min: - (line.scale2.max / gon.power_scale_change),
            <% end %>   
            title: gon.title_second_axis,
            scaleThousand: gon.scaleThousand,
            scalePoint: gon.scalePoint,
            titleColor: ['blue'],
            textSize: 8,
            colors: ['blue']
        }
    }).draw();
    <% end %>
</script>
<script type="text/javascript">                        // send event to google analytics
<% if @indicator_switch %>                          
  <%= analytics_track_event "Selectors", "Indicator",
  @current_user_email + ":" + 
  @selector.year_begin.to_s + ":" + 
  @selector.year_end.to_s + ":" +
  @i1.id1 + ":" +
  @c1.name + ":" +
  @i2.id1 %>  
<% else %>
  <%= analytics_track_event "Selectors", "Country",
  @current_user_email + ":" + 
  @selector.year_begin.to_s + ":" + 
  @selector.year_end.to_s + ":" +
  @i1.id1 + ":" +
  @c1.name + ":" +
  @c2.name %>
<% end %>  
function displayPDF() {
   var myCanvas = document.getElementById("line");     // get the graph as an image
   var myUrl = myCanvas.toDataURL();
   var key = [];
   key[0] = gon.country1;
   key[1] = gon.country2;
   var title = gon.title;
   var indicator = gon.indicator;
   var doc = new jsPDF('landscape','pt', 'A4');
   doc.setFontSize(12);
   doc.setFontType("bold");
   doc.text(60, 40, title);
   doc.addImage(myUrl, 'PNG', 30, 40, 750, 300);
   <% if @indicator_switch %>
      doc.text(60, 420, gon.country1);
   <% else %>
      doc.text(60, 420, indicator);
   <% end %>   
   var res = doc.autoTableHtmlToJson(document.getElementById("stat_table"));
   doc.autoTable(res.columns, res.rows, {
    theme: 'grid',
    headerStyles: {fillColor: 128},
    startY: 440,
    tableWidth: 800 ,
    columnWidth: 'auto',
    styles: {
      overflow: 'linebreak',
      fontSize: 12,
      rowHeight: 20,
      columnWidth: 'wrap'
    },
   });
   doc.setFontSize(8);
   doc.text(60, 570, "Source: Economic Statistics on Open Date - Bruno Gardin")
   doc.output('dataurlnewwindow');
}   
</script>

