<%= render 'form' %>
<div id="site_summary" style="float: left; width:40%; border: thin solid black; margin-left:1%;">
<h1>Summary</h1>
This site provides comparison information of economic data between two countries or areas. Data are extracted from World Bank open data set. The portal displays a chart to visualize the comparison and statistical data (means, correlations, trends) in order to better understand the data and make predictions.<br>
<%= image_tag "en_site.png" %>
<br><br>
<% if can? :show_registration, @selector %>
<h1>Registration</h1>
Unregistered users have access to a limited list of indicators and countries. If you want more choices and be able to print the statistic screen in pdf, please register on the top right of the screen.<br>
<% end %>
</div>
<div id="indicator_summary" style="float: left; width:40%; border: thin solid black; margin-left:1%;">
<h1>Usage</h1>
To start an analysis, you just have to select an indicator, two countries or areas, the period and then click on [Display] button.<br>
<span>The fields Indicator and Country1 have an help </span>
<%= image_tag "question_mark.png" %>
<span> and a list of all the possible choices </span>
<%= image_tag "view-list.png" %>
<span>. These fields are autocompleted as soon as you enter two caracters. </span>
<ul>
   <li><span style="font-style:italic;">Indicator:</span> it is the indicator identifier as defined by the World Bank. The proposed list is sorted by topic and then by identifier</li>
   <li><span style="font-style:italic;">Country1,Country2:</span> it is a country or an area as defined by the World Bank. The proposed list is sorted by type (area then country) and alphabetic order</li>
   <li><span style="font-style:italic;">Year1:year2:</span> start year and end year separated by a colon ":" (ex: 2000:2014).</li>
</ul>
Usage tips:<br>
  <li style="margin-left: 15px;">Some economical indicators are available in local currency and US dollar. For countries of the the euro area one can use the local currency (ie: euro). In other cases, US dollar should be use and change rates are influencing the results.</li>
  <li style="margin-left: 15px;">The World Band data are not always available for all countries/areas and all periods. If null values are displayed, it is better to reduce the period range.</li>
  <li style="margin-left: 15px;">
  <span>The mark </span>
  <%= image_tag "question_mark.png" %>
  <span>gives some in line helps.</span>
  </li>
  <li style="margin-left: 15px;">For any problem, comment or improvement request you can send me an email with the [Contact] button on the bottom right of the screen.</li>
</div>
