<h1>Country and period selection</h1>
<%= form_for :rchart, url: rcharts_path do |f| %>
  <p>
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </p>
 
  <p>
    <%= f.label :year_start %><br>
    <%= f.text_field :yearstart %>
  </p>
 
  <p>
    <%= f.label :year_end %><br>
    <%= f.text_field :yearend %>
  </p>  
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
