<h1>Listing Countries</h1>
<table id="cty" class="table-condensed" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th>id1</th>
    <th>iso2code</th>
    <th>code</th>
    <th>name</th>
    <th>type</th>
    <th>language</th>
    <th>visible</th>
    <th>show</th>
  </tr>
  </thead>
<tbody>
<% for country in @country %>
  <tr>
    <td><%=h country.id1 %></td>
    <td><%=h country.iso2code %></td>
    <td><%=h country.code %></td>
    <td><%=h country.name %></td>
    <td><%=h country.type %></td>
    <td><%=h country.language %></td>
    <td><%=h country.visible %></td>
    <td><%= link_to 'Show', country %></td>
  </tr>
<% end %>
</tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
    $('#cty').DataTable({
    retrieve: true,
    "pageLength": 15
    });
} );
</script>

