<p>
  <strong>id1:</strong>
  <%= @country.id1 %>
</p>
<p>
  <strong>iso2code:</strong>
  <%= @country.iso2code %>
</p>
<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>
<p>
  <strong>type:</strong>
  <%= @country.type %>
</p>
<p>
  <strong>Language:</strong>
  <%= @country.language %>
</p>
<p>
  <strong>visible:</strong>
  <%= @country.visible %>
</p>

<%= link_to 'Back', countries_path %>
