<%= form_for(@indicator) do |f| %>
  <% if @indicator.errors.any? %>
    <div id="error_exindicatoration">
      <h2><%= pluralize(@indicator.errors.count, "error") %> prohibited this indicator from being saved:</h2>

      <ul>
      <% @indicator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :id1 %><br>
    <%= f.text_field :id1 %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :language %><br>
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_field :source %>    
  </div>
  <div class="field">
    <%= f.label :topic %><br>
    <%= f.text_field :topic %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_field :note %>
  </div>
  <div class="field">
    <%= f.label :visible %><br>
    <%= f.text_field :visible %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
