<p><%= t('Welcome') %> <%= @resource.name %>!</p>

<p><%= t('password_reset_comment1') %></p>

<p><%= link_to t('Change_my_passord'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('password_reset_comment2') %></p>
<p><%= t('password_reset_comment3') %></p>
