<p id="notice"><%= notice %></p>
<p>
  <strong>Stripe_id:</strong>
  <%= @plan.stripe_id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @plan.amount %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @plan.interval %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
