<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= Gon::Base.render_data({}) %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "RGraph.pie" %>
  <%= javascript_include_tag "RGraph.common.dynamic" %>
  <%= javascript_include_tag "RGraph.common.tooltips" %>
  <%= javascript_include_tag "RGraph.common.key" %>
  <%= javascript_include_tag "RGraph.common.effects" %>
  <%= javascript_include_tag "RGraph.common.core" %>
  <%= javascript_include_tag "https://js.stripe.com/v2/" %>
  <%= javascript_tag "Stripe.publishableKey = '#{Rails.configuration.stripe[:publishable_key]}';", type: 'text/javascript' %>
  <%= analytics_init if Rails.env.production? %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'layouts/header' %>
    
    <div class="container" style=" width: 100%; ">
      <%= yield %>
    </div> 
    <div class="flash_message">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <font color="red">
          <%= value %>
          </font>
        </div>
      <% end %>
    </div>
      <%= render 'layouts/footer' %>
    
<script type="text/javascript">
$(document).ready(function() {
  $('.has-tooltip').tooltip();
});
</script>
</body>
</html>
